#box{
  font-size:90px;
  width: 100px;
  height: 100px;
  background: red;
  animation-name: slidedown;
  animation-duration:3s;
}
@keyframes slideleft{
  from{transform: translateX(300%)}
}
@keyframes slideRight{
  to{transform: translateX(300%)}
}
@keyframes slideup{
  from{transform: translateY(300%)}
}
@keyframes slidedown{
  to{transform:translatey(300%)}
}
